extends layout

block main
    section.main
        div.row
            div#map
            .clear
        h2 Detalles
        div.columns
            div.column
                div
                    input(type='checkbox')
                    | &nbsp; Micro-buses.
                div
                    input(type='checkbox')
                    | &nbsp; Mini-buses.
                div
                    input(type='checkbox')
                    | &nbsp; Taxi trufis.
            .clear
            div.column
                div
                    input(type='checkbox')
                    | &nbsp; Densidad Critica.
                div
                    input(type='checkbox')
                    | &nbsp; Densidad Alta.
                div
                    input(type='checkbox')
                    | &nbsp; Densidad Moderada.
            .clear
            div.column
                div
                    input(type='checkbox')
                    | &nbsp; Embotellamiento Critico.
                div
                    input(type='checkbox')
                    | &nbsp; Embotellamiento Alto.
                div
                    input(type='checkbox')
                    | &nbsp; Embotellamiento Moderado.
            .clear
            div.column
                div
                    input(type='checkbox')
                    | &nbsp; Retrasos Critico.
                div
                    input(type='checkbox')
                    | &nbsp; Retrasos Largos.
                div
                    input(type='checkbox')
                    | &nbsp; Retrasos Moderados.
            .clear
    section.subnav

